<!-- Footer -->
<footer id="footer" class="page-footer font-small bg-primary">
    <!-- Copyright -->
    <div class="footer-copyright text-center text-light py-3">
      © 2021 Copyright:
      <a class="text-light" href="/"> Kolten's League Tracker</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  