<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link rel="stylesheet" href="stylesheets/main.css">

    <title>Kolten's League Tracker</title>

</head>

<body>
    <% if (locals.header===undefined || header) {%>
    <%- include("partials/_nav") %>
    <% } %>

    <%- include("partials/_header") %>

    <% if (content) { %>
        <%- include(content) %>
    <% } else { %>
        <p>Nothing to display</p>
    <% } %>

    <%- include("partials/_footer") %>

    <script src="javascripts/main.js"></script>
   
</body>

</html>