// Your styles go here
// Styles
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

$font-family-sans-serif: 'Bitter', serif;
$font-family-serif: 'Work Sans', sans-serif;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #07393C,
  "light": #90DDF0,
  "secondary": #2C666E,
  "info": #F0EDEE,
  "danger": #fe5d26

);

@import "~bootstrap/scss/bootstrap";

// GLOBAL STYLE RULES
h1,
h2,
h3 {
  font-family: $font-family-serif;
}

h4 {
  font-family: $font-family-sans-serif;
}

body {
  font-family: $font-family-sans-serif;
}


li {
  list-style: none;
}





// FOOTER STYLING
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  